<%-include('../partials/head')%>


  <main>
    <h1>CREAR PELICULA</h1>
    <form action="/crear" method="POST">
      <div>
        <label for="">Titulo</label>
        <input type="text" name="titulo">
      </div>

      <div>
        <label for="">Premios</label>
        <input type="text" name="premios">
      </div>

      <div>
        <label for="">Duracion</label>
        <input type="text" name="length">
      </div>

      <div>
        <label for="">Rating</label>
        <input type="text" name="rating">
      </div>

      <div>
        <label for="">Fecha de estreno</label>
        <input type="date" name="fecha_estreno">
      </div>

     <div>
        <label for="">Genero</label>
        <select name="genero">
          <% for(let i = 0;i<generos.length; i++) {%> 
          <option value="<%=generos[i].id%>">
            <%=generos[i].name%>
          </option>
          <% } %> 
        </select>
      </div>
          <button type="submit">Crear peli!</button>
    </form>
  </main>


<%- include('../partials/footer') %>
