<footer>
<div class="footer">
     <div class="copy">
          &copy;Luis David Nuñez ❤️ || Developers Web Full Stack
     </div>
</div>
<div class="contacto">
<a href="https://github.com/123Bfeo"><i class="fab fa-github"></i></a>
<a href="https://www.linkedin.com/in/luis-david-nu%C3%B1ez/"><i class="fab fa-linkedin"></i></a>
</div>
</footer>
</body>
</html>