<%-include('../partials/head')-%>
<main class="main-padre">
  <section>
    <div class="t-op">
      <h2>Peliculas Accion</h2>
      <h2>More +</h2>
    </div>
    <div class="romance">
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
    </div>
  </section>

  <section>
    <div class="t-op">
      <h2>Peliculas Accion</h2>
      <h2>More +</h2>
    </div>
    <div class="romance">
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
      <article class="conte-romance">
        <div class="img-peli">
          <img src="/images/pelicula.jpg" alt="" />
        </div>
      </article>
    </div>
  </section>
  <section class="accion"></section>
</main>
<%- include('../partials/footer')-%>
