<%-include('../partials/head')-%>
<main>
  <section>
    <div style="background-color: brown; width: 100px; height: 30px">
      <img src="/images/home.jpg" alt="" />
    </div>
  </section>
</main>
<%- include('../partials/footer')-%>
